{
    email you@email.com
}


(security)  {
    header [
        # enable HSTS
        Strict-Transport-Security max-age=31536000;

        # disable clients from sniffing the media type
        X-Content-Type-Options nosniff

        # keep referrer data off of HTTP connections
        Referrer-Policy no-referrer-when-downgrade
    ]
}


piapp.piprakhar.dev {
    encode zstd gzip
    import security

    reverse_proxy http://auth-service:8080
}